.jobs-list {
    padding: 15px 25px 0px;
    background: #F2F2F2;
    .form-group {
        margin: 0;
    }
    select {
        background: #F2F2F2;
        border: 1px solid #D1D1D1;
        border-radius: 5px;
    }
}