.live-page-menu {
    .nav-item {
        .nav-link {
            img {
                &.notes {
                    height: 32px;
                    width: 29px;
                }
                width: 32px;
            }
        }
    }
}

