.messages-count {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #202D8A;
    font-size: 7.61539px;
    line-height: 9px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 3.5px
}